# Node modules
node_modules/

# Output folders
dist/
build/

# Environment variables
.env
.env.*     # ignore .env.production, .env.local, dsb

# Prisma generated client (if re-generated in build)
generated/
generated/prisma/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS/system files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sw?

# Docker
*.local
docker-compose.override.yml
